.container {
    display: flex;
    align-items: center; /* Vertically aligns the text and image */
    justify-content: space-between; /* Ensures the text is on the left and the image on the right */
    width: 100%;
    padding: 20px;
}

.name {
    margin-top: 100px;
    text-align: left; /* Aligns text to the left */
}

.photo img {
    width: 300px;
    height: auto;
    border-radius: 10px; /* Adds rounded corners */
    margin-left: 150%;
   
}
