.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 20px;
  /* background-color: #f9f9f9; */ /* Removed background color */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 50px auto;
}

.about-container h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

.about-description {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.8;
  margin-bottom: 30px;
}

.about-details {
  text-align: left;
  width: 100%;
  max-width: 600px;
}

.about-details h3 {
  font-size: 1.5rem;
  color: #007bff;
  margin-bottom: 10px;
}

.about-details ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.about-details ul li {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
}

.about-details p {
  font-size: 1rem;
  color: #555;
}